@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/Roboto-Medium.ttf);
  //   src: url(./assets/fonts/Roboto-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$white: rgb(243, 243, 243);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
}

li {
  text-decoration: none;
}

h2 {
  font-size: 28px;
  font-weight: bold !important;
  margin: 20px !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 36px;
  text-align: center;
  margin: 30px 0 !important;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
