$background-color: #FFC39B;
$text-color: #fff;
$link-color: #fff;

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  color: $text-color;
  padding: 20px 20px;
  border-radius: 75px;

  a {
    color: $link-color;
    text-decoration: none;
    margin-left: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}