.navigation {
  ul {
    display: flex;
    margin: 30px;

    a {
      text-decoration: none;
      padding: 10px;
      color: black;
      &::after{
          border-bottom: 1px solid black;
      }

      li {
        cursor: pointer;
      }
    }
    
  }
}
