$primaryColor: #ffb58a;
$secondaryColor: #ffc39b;
$cardMargin: 10px;

.post-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: $cardMargin;
  max-width: 300px;

  img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .recipe-title {
    font-size: 18px;
    font-weight: bold;
    color: $primaryColor;
    em {
      display: block;
      font-size: 14px;
      color: #888;
    }
  }

  .user {
    font-size: 14px;
    color: $secondaryColor;
  }

  .comment {
    font-size: 16px;
    color: #333;
    margin-top: 12px;
  }
  .btn-card {
    display: flex;
    justify-content: space-evenly;
    button {
      padding: 5px 20px 5px 20px;
      margin-top: auto;
      border-radius: 30px;
      background-color: $secondaryColor;
      color: #fff;
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }
  }
}

.post-display {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .post-display {
    flex-direction: column;
    align-content: center;
  }
}
