.search {
  display: flex;
  height: 5vh;
  width: 50vh;
  margin: 20px auto 20px auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
}

input::placeholder {
  display: flex;
  text-align: center;
}

input[type="text"] {
    padding: 5px;
    outline: none;
    border-radius: 10px;
    text-align: center; /* Centrer le texte saisi horizontalement */
    line-height: 5vh; /* Centrer le texte saisi verticalement */
  }