.search {
  display: flex;
  height: 5vh;
  width: 50vh;
  margin: 20px auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;

  &::placeholder {
    text-align: center;
  }

  &[type="text"] {
    padding: 5px;
    outline: none;
    border-radius: 10px;
    text-align: center;
    line-height: 5vh;
  }
}



